.Auth {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url("../img/coffeeDate1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.Auth-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/coffeeDate1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -100;
}

.Auth-intro-container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f8f4e1;
  box-shadow: 0 4px 8px #54331028;
  border-radius: 2rem;
  padding: 2rem 4rem;
}

.Auth-catchphrase {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5em;
  color: #3b240b;
  margin: 0;
  line-height: 4.5rem;
}

.Auth-buttons-header {
  color: #3b240b;
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 1rem;
}

.Auth-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.Auth-button {
  width: 8rem;
  background-color: #3b240b;
  color: white;
  font-weight: bold;
  font-size: 1em;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  border: none;
  margin-top: 0.5rem;
  transition: 0.1s ease-in-out;
  &:hover {
    background-color: #af8f6f;
    cursor: pointer;
  }
}
.App-auth-logo {
  height: 1rem;
}

/* AUTH FORMS */
.Auth-form-container {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f8f4e1;
  box-shadow: 0 4px 8px #54331028;
  border-radius: 2rem;
  padding: 2rem 4rem;
}
.Auth-form-header {
  color: #3b240b;
  margin-top: 0;
}
.Auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.Auth-input {
  width: 18rem;
  height: 1.5rem;
  background-color: white;
  border: 1px #af8f6f solid;
  border-radius: 1rem;
  margin-top: 0.25rem;
  padding: 0.5rem 0.5rem;
  transition: 0.1s ease-in-out;
  &:focus {
    outline: none;
    box-shadow: none;
    border-color: #3b240b;
  }
}
.Auth-form-names-container {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  margin-top: 0.25rem;
  .Auth-input-name,
  .Auth-input-age {
    height: 1.5rem;
    background-color: white;
    border: 1px #af8f6f solid;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
    transition: 0.1s ease-in-out;
    &:focus {
      outline: none;
      box-shadow: none;
      border-color: #3b240b;
    }
  }
  .Auth-input-name {
    width: 7rem;
  }
  .Auth-input-age {
    width: 1.5rem;
  }
}

.Auth-back-button,
.Auth-forgotPassword-button {
  font-size: 0.8em;
  background-color: transparent;
  color: #3b240b;
  border: none;
  transition: 0.1s ease-in-out;
  &:hover {
    cursor: pointer;
    color: #af8f6f;
  }
}

.Auth-form-error {
  width: 90%;
  color: red;
  font-size: 0.8em;
}

.Auth-form-break {
  border-top: 1px #af8f6f solid;
  height: 0;
  width: 15rem;
  margin-top: 0.6rem;
  margin-bottom: 0.4rem;
}
